<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <!-- Header -->
    <header>
        <h1>Portfolio Tracker</h1>
    </header>

    <!-- Navbar -->
    <nav>
        <app-nav-bar></app-nav-bar>
    </nav>

    <!-- Main Layout Wrapper -->
    <div class="layout-wrapper">

        <!-- Secondary Content Area -->
        <aside class="secondary-content">
            <router-outlet name="secondary"></router-outlet> <!-- Named outlet for secondary content -->
        </aside>

        <!-- Primary Content Area -->
        <main class="primary-content">
            <router-outlet></router-outlet> <!-- Default outlet for main content -->
        </main>

    </div>

    <!-- Footer -->
    <footer>
        <p>Copyright © Oleg Korznikov 2024</p>
    </footer>
</div>