html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    /* Full viewport height */
    height: 100vh;
    width: 60vw;
    margin: auto;
}

header,
footer {
    text-align: center;
}

.layout-wrapper {
    display: flex;
    /* Take up remaining space */
    flex: 1;
    justify-content: space-between;
    margin-top: 10px;
}

.left-aside,
.right-aside {
    width: 15%;
    min-height: 100%;
}

footer {
    width: 100%;
    padding: 10px 0;
    /* Pushes footer to the bottom */
    margin-top: auto;
}