.portfolios-container {
    display: flex;
    justify-content: center;
    /* Center the container within its parent */
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* Allow horizontal scrolling if necessary */
    padding: 1rem;
    background-color: rgb(236, 230, 227);
    border-radius: 8px;
}

.portfolio-card {
    background-color: rgb(206, 191, 182);
    border: 1px solid rgb(193, 177, 166);
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
    /* Space between cards */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.portfolio-card:last-child {
    margin-right: 0;
    /* Remove margin from the last card */
}

.portfolio-card:hover {
    transform: translateY(-5px);
    /* Slight lift on hover */
}

.portfolio-info h3 {
    margin: 0;
    color: rgb(154, 160, 163);
}