<!-- portfolios.component.html -->
<div class="portfolios-container">
    <div class="portfolio-card" *ngFor="let portfolio of portfolios()">
        <a [routerLink]="['/portfolios', portfolio.id]" class="portfolio-link">
            <div class="portfolio-info">
                {{ portfolio.name }}
            </div>
        </a>
    </div>
    <!-- New Portfolio Input Tile -->
    <div class="new-portfolio-card">
        <input type="text" [(ngModel)]="newPortfolioName" placeholder="Enter portfolio name"
            class="new-portfolio-input">
        <button (click)="addPortfolio()" class="add-to-portfolio-btn">Add New</button>
    </div>
</div>