<nav class="navbar">

    <div class="nav-left">
        <a routerLink="/users" class="nav-link" routerLinkActive="active">Users</a>
        @if (isUserImpersonated()) {
        <a routerLink="/portfolios" class="nav-link" routerLinkActive="active">My portfolios</a>
        }
        <a routerLink="/securities" class="nav-link" routerLinkActive="active">Securities</a>
    </div>

    <div class="nav-right">
        <a routerLink="/profile" class="nav-link">
            <img src="../../../assets/icons/user-profile-icon.svg" alt="User Details" class="person-icon">
        </a>
    </div>

</nav>