<nav class="navbar">

    <div class="nav-left">
        <a routerLink="/users" class="nav-link" routerLinkActive="active">Users</a>
        @if (isUserImpersonated()) {
        <a routerLink="/portfolios" class="nav-link" routerLinkActive="active">My portfolios</a>
        <a routerLink="/portfolios-edit" class="nav-link" routerLinkActive="active">Edit Portfolios</a>
        }
        <a routerLink="/securities" class="nav-link" routerLinkActive="active">Securities</a>
    </div>

    <div class="nav-right">
        <a routerLink="/profile" class="nav-link">
            <span class="material-icons">account_circle</span>
        </a>
    </div>

</nav>