<div class="impersonation-container" *ngIf="impersonatedUser; else noImpersonation">
    <h2>Currently Impersonating</h2>
    <p><strong>Name:</strong> {{ impersonatedUser.name }} {{ impersonatedUser.surname }}</p>
    <p><strong>Username:</strong> {{ impersonatedUser.username }}</p>
    <p><strong>Email:</strong> {{ impersonatedUser.email }}</p>
    <button (click)="clearImpersonation()" class="stop-impersonation-button">Stop Impersonation</button>
</div>
<ng-template #noImpersonation>
    <p class="no-impersonation-message">No user is currently being impersonated.</p>
</ng-template>