<div class="positions-container">
    <table class="positions-table">
        <thead>
            <tr class="position-header">
                <th class="col-security">Security</th>
                <th class="col-quantity">Quantity</th>
                <th class="col-price">Purchase Price</th>
                <th class="col-total">Total Value</th>
                <th class="col-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="position-card" *ngFor="let position of positions()">
                <td class="col-security">{{ getSecurityName(position.financialInstrumentId) }}</td>
                <td class="col-quantity">{{ position.quantity }}</td>
                <td class="col-price">{{ position.purchasePrice | number:'1.2-2' }}</td>
                <td class="col-total">{{ getTotalValue(position) | number:'1.2-2' }}</td>
                <td class="col-actions">
                    <button (click)="deletePosition(position)" class="delete-button">
                        <span class="material-icons">delete</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    @if (!positions().length) {
    <p class="warning-message">This portfolio is empty. Go to <a [routerLink]="['/securities']">securities</a> to add
        and view
        them here.</p>
    }
</div>