.positions-container {
    padding: 1rem;
    background-color: rgb(236, 230, 227);
    border-radius: 8px;
}

.positions-table {
    width: 100%;
    border-collapse: collapse;
}

.position-header th {
    background-color: rgb(206, 191, 182);
    border: 1px solid rgb(193, 177, 166);
    padding: 0.5rem 1rem;
    text-align: left;
    font-weight: bold;
    color: rgb(67, 90, 102);
}

.position-card td {
    background-color: rgb(206, 191, 182);
    border: 1px solid rgb(193, 177, 166);
    padding: 0.5rem 1rem;
    color: rgb(67, 90, 102);
}

.position-card td:last-child {
    text-align: center;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button:hover {
    color: darkred;
}

.material-icons {
    font-size: 1.5rem;
}