.positions-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(236, 230, 227);
    border-radius: 8px;
}

.position-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(206, 191, 182);
    border: 1px solid rgb(193, 177, 166);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.position-card {
    display: flex;
    justify-content: space-between;
    background-color: rgb(206, 191, 182);
    border: 1px solid rgb(193, 177, 166);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.position-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center align items vertically */
}

.position-info p {
    margin: 0 0.5rem;
    color: rgb(141, 152, 141);
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    /* Default color */
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button:hover {
    color: darkred;
    /* Color when hovered */
}

.material-icons {
    font-size: 1.5rem;
}