<div class="positions-container">
    <div class="position-header">
        <p>Security</p>
        <p>Quantity</p>
        <p>Purchase Price</p>
        <p>Total Value</p>
        <p>Actions</p> <!-- Add a header for actions -->
    </div>
    <div class="position-card" *ngFor="let position of positions()">
        <div class="position-info">
            <p>{{ getSecurityName(position.financialInstrumentId) }}</p>
            <p>{{ position.quantity }}</p>
            <p>{{ position.purchasePrice | number:'1.2-2' }}</p>
            <p>{{ getTotalValue(position) | number:'1.2-2' }}</p>
            <button (click)="deletePosition(position)" class="delete-button">
                <span class="material-icons">delete</span>
            </button>
        </div>
    </div>
</div>