<div class="portfolio-actions-container">
    <h2 class="portfolio-actions-header">Edit portfolios</h2>

    <div *ngIf="portfolios.length > 0" class="portfolio-actions-form">
        <label for="portfolioSelect" class="portfolio-actions-label">Select Portfolio:</label>
        <select id="portfolioSelect" [(ngModel)]="selectedPortfolioId" class="portfolio-actions-select">
            <option *ngFor="let portfolio of portfolios" [value]="portfolio.id">
                {{ portfolio.name }}
            </option>
        </select>
    </div>

    <div *ngIf="selectedPortfolioId" class="portfolio-actions-form">
        <label for="portfolioName" class="portfolio-actions-label">New Portfolio Name:</label>
        <input id="portfolioName" type="text" [(ngModel)]="updatedPortfolioName" placeholder="Enter new portfolio name"
            class="portfolio-actions-input" />

        <button (click)="updatePortfolio(selectedPortfolioId)" class="portfolio-actions-btn">Update Portfolio</button>
    </div>

    <div *ngIf="selectedPortfolioId" class="portfolio-actions-buttons">
        <button (click)="deletePortfolio(selectedPortfolioId)" class="portfolio-actions-btn delete-btn">Delete
            Portfolio (and its positions)</button>
    </div>
</div>